<!DOCTYPE html>
<html lang="ja">
<head>
  <meta content="text/html; charset=utf-8">
  <style type="text/css" >
  </style>
</head>
<body>
  <h2>
  ============<br>
  <% if @user.name.present? %>
    <%= @user.name %> 様<br>
  <% else %>
    ユーザー様 <br>
  <% end %>
  ============
  </h2>
  <br>
  <p>
  	いつもご利用ありがとうございます。<br>
	<b><%= @item.genre.name %>：<%= @item.name %></b>の期限になりましたので,<br>
	お知らせいたします。<br>
	<br>
    マイページ : <%= link_to "こちら", @url %>
	<br>
  </p>
</body>
</html>