<div class="row">
  <div class="about col-lg-12">
    <div class="col-lg-6 col-md-12">
      <div class="about_img1"></div>
    </div>
    <div class="col-lg-6 col-md-12">
      <div class="about_introduction">
        <h3><サイトを作ったきっかけ></h3>
          <p> 日常生活の中で、まだ家にあったかな、買うのを忘れた、<br>
          期限が切れてしまったという場面に遭遇しませんか？<br>
          疲れて帰ってきた中、必要なものが足りずもう一度買いに出かけたり、<br>遠出した際に買い忘れてしまったり、間違えてたくさん買ってしまったり...<br>
          そんな日常のちょっとした時間を節約するためにこのサイトを作りました。
          </p>
      </div>
    </div>
  </div>

  <div class="about col-lg-12">
    <div class="col-lg-6 col-md-12">
      <div class="about_introduction">
      <h3><使い方></h3>
          <p>
            ユーザー登録をしていただくと自分だけの管理ページができます。<br>
            アイテムの追加から登録したいアイテム名、個数、期限等を入力してください。<br>
            残数や期限によって登録いただいたアドレスあてに通知メールが届きます。<br>
            このアプリケーションがお手伝いすることは、”タイミング”の管理です。
          </p>
      </div>
    </div>
    <div class="col-lg-6 col-md-12">
      <div class="about_img2"></div>
    </div>
  </div>

  <div class="about col-lg-12">
    <div class="col-lg-6 col-md-12">
      <div class="about_img3"></div>
    </div>
    <div class="col-lg-6 col-md-12">
      <div class="about_introduction">
        <h3><参考></h3>
          <p>
            このサイトの作成にあたり掲載している写真は<br>
            photoAC様(https://www.photo-ac.com/)のものを利用しております。
            <br>配色はカラーユニバーサルデザインを参考にしております。
            <br>フォントはUDfont（ユニバーサルデザインフォント）を使用しております。
            <br>使用環境によって異なった表示になる場合がございますので、ご了承ください。
          </p>
      </div>
    </div>
  </div>
</div>