<div class="row">
  <div class="about col-md-12">
    <div class="col-md-6">
      <div class="about_img1"></div>
    </div>
    <div class="col-md-6">
      <div class="about_introduction">
        <h3>サイトを作ったきっかけ</h3>
          <p></p>
      </div>
    </div>
  </div>

  <div class="about col-md-12">
    <div class="col-md-6">
      <div class="about_introduction">
      <h3>使い方</h3>
          <p></p>
      </div>
    </div>
    <div class="col-md-6">
      <div class="about_img2"></div>
    </div>
  </div>

  <div class="about col-md-12">
    <div class="col-md-6">
      <div class="about_img3"></div>
    </div>
    <div class="col-md-6">
      <div class="about_introduction">
        <h3>参考</h3>
          <p></p>
      </div>
    </div>
  </div>
</div>