/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, or any plugin's
 * vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS/SCSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 *= require_tree .
 *= require_self
 */
@import "bootstrap";
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
 }
clearfix::after {
  content: "";
  display: block;
  clear: both;
}
/*共通設定*/
body {
  /*↓明朝体フォント*/
  /*font-family: "BIZ UDMincho","Yu Mincho","YuMincho","Hiragino Mincho Pro",serif;*/
  /*↓ゴシック体フォント*/
  font-family: "BIZ UDGothic","Yu Gothic","YuGothic","Hiragino Sans",sans-serif;
  font-weight: 600;
  font-size: 18px;
}
/*.col-xs-1, .col-sm-1, .col-md-1, .col-lg-1, .col-xs-2, .col-sm-2, .col-md-2, .col-lg-2,
.col-xs-3, .col-sm-3, .col-md-3, .col-lg-3, .col-xs-4, .col-sm-4, .col-md-4, .col-lg-4,
.col-xs-5, .col-sm-5, .col-md-5, .col-lg-5, .col-xs-6, .col-sm-6, .col-md-6, .col-lg-6,
.col-xs-7, .col-sm-7, .col-md-7, .col-lg-7, .col-xs-8, .col-sm-8, .col-md-8, .col-lg-8,
.col-xs-9, .col-sm-9, .col-md-9, .col-lg-9, .col-xs-10, .col-sm-10, .col-md-10, .col-lg-10,
.col-xs-11, .col-sm-11, .col-md-11, .col-lg-11, .col-xs-12, .col-sm-12, .col-md-12, .col-lg-12 {
    position: relative;
    min-height: 1px;
    padding-left: 0px;
    padding-right: 0px;
}*/
.notice {
  margin: 0 20px;
  font-size: 18px;
  color: #03AF7A;
}
.alert {
  color: #FF4B00;
  font-size: 18px;
  padding: 0px;
  margin: 20px;
  border: 0px ;
  border-radius: 0px;
}
.form {
  margin-top: -50px;
}
a {
  font-size: 18px;
  font-weight: 800;
  color: #005AFF;
  text-decoration: none;
  padding: 5px;
}
a:hover {
  background-color:#C8C8CB;
  text-decoration: none;
}
h1, h2, h3 {
  font-weight: 800;
}

/*ヘッダー*/
.navbar {
  margin: 0;
  border-radius: 0px;
  border: 0px;
  height: 60px;
  padding: 0 100px;
  display: flex;
  align-items: center;
  .btn.btn-link {
    padding: 0;
  }
}
a:hover.btn.btn-link {
  background-color:#C8C8CB;
  text-decoration: none;
  }
.navbar-brand {
  margin: 0;
  padding: 0;
  .logo {
    font-size: 30px;
    color: #F6AA00;
  }
}
.nav-link {
  font-size: 18px;
  color: #F6AA00;
  font-weight: 800;
}

/*タブレット以下*/
@media screen and (max-width:992px){
  .navbar {
    padding: 0;
  }
  .navbar-collapse {
    background-color: #343A40;
  }
  .navbar-toggler .navbar-toggler-icon {
    background-image: url("data:image/svg+xml;charset=utf8,%3Csvg viewBox='0 0 32 32' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath stroke='rgba(246,170,0,1)' stroke-width='3' stroke-linecap='round' stroke-miterlimit='10' d='M4 8h24M4 16h24M4 24h24'/%3E%3C/svg%3E");
  }
  .navbar-toggler{
    border-color: #F6AA00;
    margin-right: 5px;
  }
  .nav-item {
    padding: 0 10px;
  }
}

/*main*/
.field_with_errors {
  display: inline;
}
#error_explanation, .error_message {
  width: 694.25px;
  color: #FF4B00;
  h2 {
    font-weight: bold;
    font-size: 20px;
  }
  ul {
    font-size: 16px;
    li {
      margin-left: 40px;
    }
  }
}
.container-fluid {
  margin: 80px 0 0;
  padding: 0;
}
.row {
  margin: 0 50px 50px;
}

/*タブレット以下*/
@media screen and (max-width:992px){
  .row {
    margin: 0 0 50px;
  }
}

/*footer*/
footer {
  height: 40px;
  display: flex;
  justify-content: flex-end;
  align-items: center;
}
.text-right {
  color: #F6AA00;
  margin: 0;
  font-size: 20px;
  padding-right: 100px;
}
/*タブレット以下*/
@media screen and (max-width:992px){
  .text-right {
  padding-right: 5px;
  }
}

/*registration*/
.registration_new, .registration_edit, .passwords_new {
  .field {
  margin: 50px;
   p {
    text-decoration: underline;
   }
  }
  label {
    text-align: left;
  }
  .sign_up_form {
    width: 300px;
    height: 30px;
    float: right;
  }
}
.registration_edit {
  .actions {
    .btn {
      width: 180px;
    }
  }
}
.registration_edit, .passwords_new {
  .actions {
    text-align: center;
    margin: 50px;
    .btn {
      font-size: 18px;
      height: 40px;
    }
  }
}

/*スマホ以下*/
@media screen and (max-width:768px){
  .registration_new, .registration_edit, .passwords_new {
    .field {
      margin: 50px 0;
    }
  .actions {
    text-align: center;
    margin: 50px;
    .btn {
      padding: 6px 0;
      font-size: 18px;
      height: 40px;
      }
    }
  }
}

/*session*/
.session_new {
  margin: 0 auto 100px;
  a {
  margin-bottom: 20px;
  }
  .field {
  margin: 50px;
  }
  label {
    text-align: left;
  }
  .log_in_form {
    width: 300px;
    height: 30px;
    float: right;
  }
  .actions {
    margin: 50px 0 0;
    .btn {
      font-size: 18px;
      height: 40px;
    }
  }
}
.remember_password_path {
  margin-top: 20px;
}
.session_sns_login {
  margin-top: 30px;
  margin-left: 5%;
}
/*スマホ以下*/
@media screen and (max-width:768px){
  .session_sns_login {
    margin-left: 0;
  }
}

/*ボタンの色*/
.btn.btn-success {
  color: #FFFFFF;
  background-color: #03AF7A;
}
.btn.btn-danger {
  color: #FFFFFF;
  background-color: #FF4B00;
}
.btn.btn-primary {
  color: #FFFFFF;
  background-color: #005AFF;
}
.btn.btn-info {
  color: #FFFFFF;
  background-color: #4BC4FF;
}