/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, or any plugin's
 * vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS/SCSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 *= require_tree .
 *= require_self
 */
@import "bootstrap-sprockets";
@import "bootstrap";
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
 }
clearfix::after {
  content: "";
  display: block;
  clear: both;
}
body {
  margin-top: 40px;
}
.notice {
  margin-left: 20px;
  font-size: 16px;
  color: #F6AA00;
}

/*header*/
.navbar {
  margin: 0;
  padding: 0;
}
header {
  .btn.btn-link {
    padding: 0 15px;
  }
  a:hover {
    background-color:#C8C8CB;
  }
}
.logo {
  font-size: 30px;
  color: #F6AA00;
}
.link {
  font-size: 20px;
  color: #F6AA00;
}

/*main*/
.container-fluid {
  margin: 0;
  padding: 0;
  width: 100%;
}
form {
  width: 100%;
}
.row {
  margin: 0 50px 50px;
}
/*footer*/
footer {
  height: 30px;
}
.text-right {
  color: #F6AA00;
  margin: 0;
  font-size: 20px;
}

/*registration*/
.registration_new {
  margin: 0 250px 100px;
  display: inline-block;
  .field {
  margin: 50px;
  padding-left: 50px;
  font-size: 16px;
  }
  .sign_up_form {
    width: 300px;
    height: 30px;
  }
  .name {
    .sign_up_form{
      margin-left: 162px;
    }
  }
  .email {
    .sign_up_form{
      margin-left: 130px;
    }
  }
  .password1 {
    .sign_up_form{
      margin-left: 70px;
    }
  }
  .password2 {
    .sign_up_form{
      margin-left: 130px;
    }
  }
  .actions {
    margin: 50px;
    .btn {
      font: 20px;
      height: 40px;
    }
  }
}

/*session*/
.session_new {
  margin: 0 250px 100px;
  display: inline-block;
  a {
  font-size: 16px;
  color: #F6AA00;
  margin-bottom: 20px;
  text-decoration: none;
  }
  a:hover {
    background-color:#C8C8CB;
  }
  .field {
  margin: 50px;
  padding-left: 50px;
  font-size: 16px;
  }
  .log_in_form {
    width: 300px;
    height: 30px;
  }
  .email {
    .log_in_form{
      margin-left: 130px;
    }
  }
  .password1 {
    .log_in_form{
      margin-left: 162px;
    }
  }
  .actions {
    margin: 50px;
    .btn {
      font: 20px;
      height: 40px;
    }
  }
}
.registration_path {
  font-size: 16px;
  color: #F6AA00;
  margin-bottom: 50px;
}

/*ボタンの色*/
.btn.btn-success {
  color: #FFFFFF;
  background-color: #03AF7A;
}
.btn.btn-danger {
  color: #FFFFFF;
  background-color: #FF4B00;
}
.btn.btn-primary {
  color: #FFFFFF;
  background-color: #005AFF;
}
.btn.btn-info {
  color: #FFFFFF;
  background-color: #4BC4FF;
}