/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, or any plugin's
 * vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS/SCSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 *= require_tree .
 *= require_self
 */
@import "bootstrap-sprockets";
@import "bootstrap";
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
 }
clearfix::after {
  content: "";
  display: block;
  clear: both;
}
body {
  margin-top: 40px;
  /*↓ゴシック体フォント*/
  /*font-family: "BIZ UDGothic","Yu Gothic","YuGothic","Hiragino Sans",sans-serif;*/
  font-family: "BIZ UDMincho","Yu Mincho","YuMincho","Hiragino Mincho Pro",serif;
  font-size: 16px;
}
/*.col-xs-1, .col-sm-1, .col-md-1, .col-lg-1, .col-xs-2, .col-sm-2, .col-md-2, .col-lg-2,
.col-xs-3, .col-sm-3, .col-md-3, .col-lg-3, .col-xs-4, .col-sm-4, .col-md-4, .col-lg-4,
.col-xs-5, .col-sm-5, .col-md-5, .col-lg-5, .col-xs-6, .col-sm-6, .col-md-6, .col-lg-6,
.col-xs-7, .col-sm-7, .col-md-7, .col-lg-7, .col-xs-8, .col-sm-8, .col-md-8, .col-lg-8,
.col-xs-9, .col-sm-9, .col-md-9, .col-lg-9, .col-xs-10, .col-sm-10, .col-md-10, .col-lg-10,
.col-xs-11, .col-sm-11, .col-md-11, .col-lg-11, .col-xs-12, .col-sm-12, .col-md-12, .col-lg-12 {
    position: relative;
    min-height: 1px;
    padding-left: 0px;
    padding-right: 0px;
}*/
.notice {
  margin: 20px;
  font-size: 18px;
  color: #03AF7A;
}
a {
  font-size: 16px;
  color: #005AFF;
  text-decoration: none;
  padding: 5px;
}
a:hover {
  background-color:#C8C8CB;
  text-decoration: none;
}
/*header*/
.navbar {
  margin: 0;
  padding: 0;
}
header {
  .btn.btn-link {
    padding: 0 15px;
  }
  a {
  padding: 14px 15px 6px;
  }
}
a:hover.btn.btn-link {
  background-color:#C8C8CB;
  text-decoration: none;
  }
.logo {
  font-size: 30px;
  color: #F6AA00;
}
.link {
  font-size: 20px;
  color: #F6AA00;
}

/*main*/
.field_with_errors {
  display: inline;
}
#error_explanation {
  width: 694.25px;
  color: #FF4B00;
  h2 {
    font-weight:  bold;
    font-size: 20px;
  }
  ul {
    font-size: 16px;
    li {
      margin-left: 40px;
    }
  }
}
.container-fluid {
  margin: 0;
  padding: 0;
  width: 100%;
}
form {
  width: 100%;
}
.row {
  margin: 0 50px 50px;
}
/*footer*/
footer {
  height: 30px;
}
.text-right {
  color: #F6AA00;
  margin: 0;
  font-size: 20px;
}
.contents {
  font-size: 18px;
}

/*registration*/
.registration_new, .registration_edit {
  margin: 0 250px 100px;
  display: inline-block;
  .field {
  margin: 50px;
  padding-left: 50px;
  font-size: 16px;
  }
  .sign_up_form {
    width: 300px;
    height: 30px;
  }
  .name {
    .sign_up_form{
      margin-left: 154px;
    }
  }
  .email, .password2 {
    .sign_up_form{
      margin-left: 122px;
    }
  }
  .password1 {
    .sign_up_form{
      margin-left: 58px;
    }
  }
  .password3 {
    .sign_up_form{
      margin-left: 106px;
    }
  }
  .actions {
    margin: 50px;
    .btn {
      font-size: 18px;
      height: 40px;
    }
  }
}

/*session*/
.session_new {
  margin: 0 250px 100px;
  display: inline-block;
  a {
  margin-bottom: 20px;
  }
  .field {
  margin: 50px;
  padding-left: 50px;
  font-size: 16px;
  }
  .log_in_form {
    width: 300px;
    height: 30px;
  }
  .email {
    .log_in_form{
      margin-left: 130px;
    }
  }
  .password1 {
    .log_in_form{
      margin-left: 162px;
    }
  }
  .actions {
    margin: 50px;
    .btn {
      font-size: 18px;
      height: 40px;
    }
  }
}
.registration_path {
  font-size: 16px;
  color: #F6AA00;
  margin-bottom: 50px;
}

/*ボタンの色*/
.btn.btn-success {
  color: #FFFFFF;
  background-color: #03AF7A;
}
.btn.btn-danger {
  color: #FFFFFF;
  background-color: #FF4B00;
}
.btn.btn-primary {
  color: #FFFFFF;
  background-color: #005AFF;
}
.btn.btn-info {
  color: #FFFFFF;
  background-color: #4BC4FF;
}
