// Place all the styles related to the genres controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/
.genres_new, .genres_index {
  .btn {
    width: 125px;
  }
  th:nth-child(1), th:nth-child(2) {
    width: 30%;
  }
  td:nth-child(1), td:nth-child(2) {
    width: 30%;
  }
  td:nth-child(3), td:nth-child(4) {
    width: 20%;
  }
}
/*スマホ以下*/
@media screen and (max-width:768px){
  .genres_new, .genres_index {
    .btn {
      max-width: 60px;
    }
    td:nth-child(1), th:nth-child(2) {
      display: none;
    }
  }
}
@media screen and (max-width:576px){
  .genres_index {
    #genre_name {
      width: 100px;
    }
  }
}