// Place all the styles related to the items controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/
/*items/index*/
.items_search_box {
  float: right;
  .btn {
    margin: -4px 0 0 20px;
  }
}
.items_index {
  td:nth-child(1), td:nth-child(2) {
    width: 208px;
  }
  td:nth-child(3) {
    width: 104px;
    }
  td:nth-child(4) {
    width: 104px;
  }
  td:nth-child(6), td:nth-child(7) {
    width: 70px;
  }
  .fa-minus-square {
    font-size:1.5em;
    color: #FF4B00;
  }
  .fa-plus-square {
    font-size:1.5em;
    color: #005AFF;
  }
}

/*items/new・edit・show*/
.items {
  margin-top: 50px;
  label {
  	margin: 0;
  }
  .item_field, #item_genre_id {
    width: 200px;
  	height: 30px;
  }
  .btn {
  	width: 336px;
  }
}
.item_image {
  margin-top: 20px;
  text-align: center;
  h2 {
    text-align: left;
  }
}
#item_image {
  margin-left: 44px;
}
.items.name {
  margin-top: 80px;
}
.name {
  .item_field {
    margin-left: 50px;
  }
}
.genre {
  .item_field {
    margin-left: 66px;
  }
}
.quantity, .exp {
  .item_field {
    margin-left: 98px;
  }
}
.memo_area {
  width: 200px;
  margin-left: 98px;
}
.edit_delete {
  margin-top: 50px;
  .btn {
  width: 125px;
  }
}
