// Place all the styles related to the items controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/
/*items/index*/
.items_search_box {
  float: right;
}
.items_index {
/*アイテム名・ジャンル名・メモ*/
  td:nth-child(1), td:nth-child(2) {
    width: 18%;
  }
/*個数*/
  td:nth-child(3) {
    width: 14%;
  }
/*期限*/
  td:nth-child(4){
    width: 11%;
  }
/*メモ*/
  td:nth-child(5) {
    width: 17%;
  }
/*編集・削除ボタン*/
  td:nth-child(6), td:nth-child(7) {
    width: 11%;
  }
  .fa-minus-square {
    color: #FF4B00;
  }
  .fa-plus-square {
    color: #005AFF;
  }
}

/*items/new・edit・show*/
.items_show_bottom {
  .fa-minus-square {
    color: #FF4B00;
  }
  .fa-plus-square {
    color: #005AFF;
  }
}
.items {
  margin-top: 50px;
  label {
  	margin: 0;
  }
  .item_field {
    width: 200px;
  	height: 30px;
    float: right;
  }
  .btn {
  	width: 336px;
  }
}
.item_image {
  margin-top: 20px;
  text-align: center;
}
#item_image {
  max-width: 300px;
  margin: 0 auto;
}
.name {
  margin-top: 80px;
}
.add_genre {
  .btn {
    width: 60px;
  }
}
.exp {
  p {
    text-decoration: underline;
    margin-top: 10px;
  }
}
.memo_area {
  width: 200px;
  float: right;
}
.edit_delete {
  margin-top: 50px;
  .btn {
  width: 125px;
  }
}
/*タブレット以下*/
@media screen and (max-width:992px) {
  .items_index {
    th:nth-child(1), th:nth-child(2) {
      width: 25%;
    }
    th:nth-child(3) {
      width: 12%;
      .fas {
        display: none;
      }
    }
    th:nth-child(4){
      width: 12%;
    }
    th:nth-child(5) {
      width: 26%;
    }
    th:nth-child(6), th:nth-child(7) {
      display: none;
    }
    td:nth-child(1), td:nth-child(2) {
      width: 25%;
    }
    td:nth-child(3) {
      width: 12%;
      .fas {
        display: none;
      }
    }
    td:nth-child(4){
      width: 12%;
    }
    td:nth-child(5) {
      width: 26%;
    }
    td:nth-child(6), td:nth-child(7) {
      display: none;
    }
  }
  .items {
    .btn {
      width: 100%;
    }
  }
  .add_genre {
    .btn {
      width: 60px;
    }
  }
}

/*スマホ以下*/
@media screen and (max-width:768px){
  .items_index {
    td:nth-child(2), td:nth-child(5) {
      width: 40%;
    }
    td:nth-child(3) {
      width: 20%;
      .fas {
        display: none;
      }
    }
    td:nth-child(1), td:nth-child(4), td:nth-child(6), td:nth-child(7) {
      display: none;
    }
    th:nth-child(2), th:nth-child(5) {
      width: 39%;
    }
    th:nth-child(3) {
      width: 22%;
      .fas {
        display: none;
      }
    }
    th:nth-child(1), th:nth-child(4), th:nth-child(6), th:nth-child(7) {
      display: none;
    }
  }
}
