// Place all the styles related to the items controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/
/*items/index*/
.items_search_box {
  float: right;
  .btn {
    margin: -4px 0 0 20px;
  }
}
.items_index {
/*アイテム名・ジャンル名・メモ*/
  td:nth-child(1), td:nth-child(2) {
    width: 20%;
  }
/*個数*/
  td:nth-child(3) {
    width: 16%;
  }
/*期限*/
  td:nth-child(4){
    width: 11%;
  }
/*メモ*/
  td:nth-child(5) {
    width: 19%;
  }
/*編集・削除ボタン*/
  td:nth-child(6), td:nth-child(7) {
    width: 7%;
  }
  .fa-minus-square {
    color: #FF4B00;
  }
  .fa-plus-square {
    color: #005AFF;
  }
}

/*items/new・edit・show*/
.items {
  margin-top: 50px;
  label {
  	margin: 0;
  }
  .item_field, #item_genre_id {
    width: 200px;
  	height: 30px;
  }
  .btn {
  	width: 336px;
  }
}
.item_image {
  margin-top: 20px;
  text-align: center;
  h2 {
    text-align: left;
  }
}
#item_image {
  margin: 0 auto;
  padding-right: 24px;
}
.name {
  margin-top: 80px;
  .item_field {
    margin-left: 50px;
  }
}
.genre {
  .item_field {
    margin-left: 66px;
  }
}
.add_genre {
  .item_field {
    margin-left: 34px;
  }
  .btn {
    width: 60px;
  }
}
.quantity, .exp {
  .item_field {
    margin-left: 98px;
  }
}
.memo_area {
  width: 200px;
  margin-left: 98px;
}
.edit_delete {
  margin-top: 50px;
  .btn {
  width: 125px;
  }
}

  /*このページでのレスポンシブ対応*/
@media screen and (max-width:992px){
  .items_form {
    text-align: center;
  }
  .add_genre {
    label {
      padding-left: 68px;
    }
    .item_field {
      margin-left: 34px;
    }
  }
  .items_show_bottom {
    max-width: 300px;
    margin: 0 auto;
  }
}