// Place all the styles related to the users/omniauth_callbacks controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/
/*_login.html.erb*/
.twitter {
  width: 185px;
  height: 44px;
  background-color: #1DA1F2;
  border-radius: 2px;
  text-align: center;
  box-shadow: 0px 1px 2px gray;
  margin: 5px 8px 9px;
  a.twitter_log_in {
  	font-family: "Arial";
  	font-size: 15px;
  	color: #FFFFFF;
  	display: inline-block;
  	padding: 0;
  }
  b {
    display: table-cell;
    vertical-align: middle;
  	  }
  .fa-twitter {
  	text-align: center;
  	padding: 8px 5px 8px 0;
  	display: table-cell;
  	vertical-align: middle;
  }
}
.yahoo {
  margin-left: 2px;
}

/*session_new/SNSログインボタン*/
.session_google {
  width: 366px;
  height: 44px;
  background-color: #DD5144;
  border-radius: 3px;
  text-align: center;
  margin: 15px 5px;
  box-shadow: 0px 1px 2px gray;
  .google_session_new {
  	font-family: "Arial";
  	font-size: 20px;
  	color: #FFFFFF;
  	display: inline-block;
  	padding: 0;
  }
  b {
    display: table-cell;
    vertical-align: middle;
    padding: 0 58px;
  	}
  .fa-google {
  	padding: 2px 0 2px 10px;
  	display: table-cell;
  	vertical-align: middle;
  }
}
.session_twitter {
  width: 366px;
  height: 44px;
  background-color: #1DA1F2;
  border-radius: 3px;
  text-align: center;
  margin: 0px 5px 15px;
  box-shadow: 0px 1px 2px gray;
  a.twitter_session_new {
  	font-family: "Arial";
  	font-size: 20px;
  	color: #FFFFFF;
  	display: inline-block;
  	padding: 0;
  }
  b {
    display: table-cell;
    vertical-align: middle;
    padding: 0 58px;
  	}
  .fa-twitter {
  	padding: 2px 0 2px 10px;
  	display: table-cell;
  	vertical-align: middle;
  }
}