// Place all the styles related to the users/omniauth_callbacks controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/
/*_login.html.erb*/
.google {
  margin-top: 5px;
}
.twitter {
  width: 185px;
  height: 44px;
  background-color: #1DA1F2;
  border-radius: 2px;
  text-align: center;
  box-shadow: 0px 1px 2px gray;
  margin: 5px 8px 8px;
  a.twitter_log_in {
  	font-family: "Arial";
  	font-size: 15px;
    font-weight: 400;
  	color: #FFFFFF;
  	display: inline-block;
  	padding: 0;
  }
  b {
    display: table-cell;
    vertical-align: middle;
  	  }
  .fa-twitter {
  	text-align: center;
  	padding: 8px 5px 8px 0;
  	display: table-cell;
  	vertical-align: middle;
  }
}
.yahoo {
  margin: 0 0 5px 2px;
}

/*session_new/registartion_new&editのSNSログインボタン*/
.session_google {
  width: 366px;
  height: 44px;
  background-color: #DD5144;
  border-radius: 3px;
  text-align: center;
  margin: 15px 5px;
  box-shadow: 0px 1px 2px gray;
  .google_session_new {
  	font-family: "Arial";
  	font-size: 20px;
    font-weight: 400;
  	color: #FFFFFF;
  	display: inline-block;
  	padding: 0;
  }
  b {
    display: table-cell;
    vertical-align: middle;
    padding: 0 58px;
  	}
  .fa-google {
  	padding: 2px 0 2px 10px;
  	display: table-cell;
  	vertical-align: middle;
  }
}
.session_twitter {
  width: 366px;
  height: 44px;
  background-color: #1DA1F2;
  border-radius: 3px;
  text-align: center;
  margin: 0px 5px 15px;
  box-shadow: 0px 1px 2px gray;
  .twitter_session_new {
  	font-family: "Arial";
  	font-size: 20px;
    font-weight: 400;
  	color: #FFFFFF;
  	display: inline-block;
  	padding: 0;
  }
  b {
    display: table-cell;
    vertical-align: middle;
    padding: 0 58px;
  	}
  .fa-twitter {
  	padding: 2px 0 2px 10px;
  	display: table-cell;
  	vertical-align: middle;
  }
}
.session_twitter {
  width: 366px;
  height: 44px;
  background-color: #1DA1F2;
  border-radius: 3px;
  text-align: center;
  margin: 0px 5px 15px;
  box-shadow: 0px 1px 2px gray;
  .twitter_session_new {
    font-family: "Arial";
    font-size: 20px;
    font-weight: 400;
    color: #FFFFFF;
    display: inline-block;
    padding: 0;
  }
  b {
    display: table-cell;
    vertical-align: middle;
    padding: 0 58px;
    }
  .fa-twitter {
    padding: 2px 0 2px 10px;
    display: table-cell;
    vertical-align: middle;
  }
}
.session_yahoo {
  margin-bottom: 15px;
}

/*スマホ*/
@media screen and (max-width:768px){
  .session_google, .session_twitter, .session_yahoo {
    width: 100%;
    b {
    padding: 0px;
    }
  }
  .session_google {
    margin: 15px 0;
    .fa-google {
      padding: 0;
    }
  }
  .session_twitter {
    margin: 0 0 15px;
    .fa-twitter {
      padding: 0;
    }
  }
  .session_yahoo {
    height: 44px;
    background-color: #FF0033;
    border-radius: 3px;
    text-align: center;
    box-shadow: 0px 1px 2px gray;
    .yahoo_session_new {
      font-size: 20px;
      font-weight: 400;
      color: #FFFFFF;
      display: inline-block;
      padding: 0;
      b {
        display: table-cell;
        vertical-align: middle;
        }
      .fa-yahoo {
        padding: 0;
        display: table-cell;
        vertical-align: middle;
      }
    }
    .yahoo_session_lg {
      display: none;
    }
  }
}
@media screen and (min-width:768px){
  .yahoo_session_new {
      display: none;
  }
}